.app{
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
}

.app h2{
    margin-bottom: 1rem;
}

.persona{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.box{
    border: thin solid black;
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.box button{
    margin: .5rem;
}